/* GENERIC STUFF */
.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
  cursor: pointer;
}

#news {
    height: 250px;
}

.btn:focus, .btn.focus {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}

.sticky {
    cursor: pointer;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 120px;
}

@media (min-width: 992px) {
    .dropdown-menu {
      margin-top: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#factDisplay {
    color: white;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
}

.back-to-top {
    position: fixed;
    bottom: 0px;
    right: 25px;
    display: none;
}

.back-to-top img {
  width: 70px;
  height: 70px;
}

/* STYLES USED IN LIBRARY(ES) */
#library-header p {
    margin-bottom: 0;
}

#side-menu .active {
  font-weight: bold;
}

.tab-pane h3 {
  font-size: 48px;
  text-align: center;
}

.table td {
  font-size: 16px;
}

.fixed-height {
  height: 200px;
}

/* STYLES USED IN GALLERY(ES) */
ul li.list-inline-item img {
    width: 75px;
    height: 75px;
    filter: grayscale(100%);
    transition: filter 2s;
}
ul li.list-inline-item img:hover {
    filter: grayscale(0%);
}

ul li.list-inline-item img.img-active {
    filter: grayscale(0%);
}

/* Let is snow */
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;        
}

.drop {
     position: absolute;
     top: 0;
     z-index: 1;
     border-radius: 100%;
     background-color: #fff;
     box-shadow: 0 0 10px #fff;
}
.animate {
     animation: falling 5.5s infinite ease-in;
}
@keyframes falling {
     0% {
         top: -10px;
    }
     10% {
         transform: translateX(-5px);
    }
     20% {
         transform: translateX(5px);
    }
     30% {
         transform: translateX(-5px);
    }
     40% {
         transform: translateX(5px);
    }
     60% {
         transform: translateX(-5px);
    }
     70% {
         transform: translateX(5px);
    }
     80% {
         transform: translateX(-5px);
    }
     90% {
         transform: translateX(5px);
    }
     95% {
         opacity: 1;
    }
     100% {
         top: 95vh;
         opacity: 0;
    }
}

.light .line {
     text-align: center;
}
.light li {
     position: relative;
     margin: 5px 10px;
     list-style: none;
     padding: 0;
     display: inline-block;
     width: 12px;
     height: 28px;
     border-radius: 50%;
     top: 35px;
     background: #fff;
}
.light li:before {
     content: "";
     position: absolute;
     background: #222;
     width: 10px;
     height: 9px;
     border-radius: 3px;
     top: -4px;
     left: 1px;
}
.light li:after {
     content: "";
     top: -14px;
     left: 9px;
     position: absolute;
     width: 52px;
     height: 19px;
     border-bottom: solid #222 2px;
     border-radius: 30%;
}
.light .red {
     background-color: #fb4545;
     animation: lightningRed 1s infinite;
}
.light .green {
     background-color: #24d024;
     animation: lightningGreen 0.8s infinite;
}
.light .yellow {
     background-color: #fff952;
     animation: lightningYellow 0.9s infinite;
}
.light .blue {
     background-color: #0a53de;
     animation: lightningBlue 1.1s infinite;
}
.light .pink {
     background-color: #f53896;
     animation: lightningPink 1.2s infinite;
}
 @keyframes lightningRed {
     0% {
         box-shadow: 5px 10px 35px 10px #fb4545;
    }
     50% {
         box-shadow: none;
    }
     100% {
         box-shadow: 5px 10px 35px 10px #fb4545;
    }
}
 @keyframes lightningGreen {
     0% {
         box-shadow: 5px 0 35px 10px #24d024;
    }
     50% {
         box-shadow: none;
    }
     100% {
         box-shadow: 5px 0 35px 10px #24d024;
    }
}
 @keyframes lightningYellow {
     0% {
         box-shadow: 5px 0 35px 10px #fff952;
    }
     50% {
         box-shadow: none;
    }
     100% {
         box-shadow: 5px 0 35px 10px #fff952;
    }
}
 @keyframes lightningBlue {
     0% {
         box-shadow: 5px 0 35px 10px #0a53de;
    }
     50% {
         box-shadow: none;
    }
     100% {
         box-shadow: 5px 0 35px 10px #0a53de;
    }
}
 @keyframes lightningPink {
     0% {
         box-shadow: 5px 0 35px 10px #f53896;
    }
     50% {
         box-shadow: none;
    }
     100% {
         box-shadow: 5px 0 35px 10px #f53896;
    }
}
 @media (max-width: 1024px) {
    .light .line {
         padding: 0;
    }
    .light li {
         margin: 0 15px 20px 15px;
    }
}