/* GENERIC STUFF */
.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
  cursor: pointer;
}

#news {
    height: 250px;
}

.btn:focus, .btn.focus {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}

.sticky {
    cursor: pointer;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 120px;
}

@media (min-width: 992px) {
    .dropdown-menu {
      margin-top: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#factDisplay {
    color: white;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
}

.back-to-top {
    position: fixed;
    bottom: 0px;
    right: 25px;
    display: none;
}

/* STYLES USED IN LIBRARY(ES) */
#library-header p {
    margin-bottom: 0;
}

#side-menu .active {
  font-weight: bold;
}

.tab-pane h3 {
  font-size: 48px;
  text-align: center;
}

.table td {
  font-size: 16px;
}
