/* LIGHT.CSS - THE LIGHT STYLESHEET OF THE REPO */
/*MAIN STYLES */

body {
    background: url('../background/bglight.png') repeat black;
    font-family: Arial;
    color: black;
}

a {
    color: #454545;
    outline: 0;
}
a:hover {
    color: #2E2E2E;
    text-decoration: none;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #ECECEC, #ccc, #333);
}
hr:after {
    content: "ä¸­";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: none;
    color: red;
}

.spoiler {
  background-color: black;
  color: black;
}
.spoiler:hover {
  color: white;
  cursor: pointer;
}

#banner {
    color: white;
    background: url('../headers/hatback.jpg') no-repeat center black;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#banner h1 {
    font-family: Arial;
    font-size: 42px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px black;
}

#banner p {
    font-size: 12px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px black;
}

#banner a {
    color: #D2D2D2;
}

#news {
    height: 250px;
}

.btn:focus, .btn.focus {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}

.tab-content p a {
    color: #2D2D2D;
}

.tab-content p a:hover {
    color: #4A4A4A;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #E0E0E0;
  border-color: #6c757d !important;
  border-bottom: none;
}

.bg-lightgrey {
  background: #E0E0E0;
}

.sticky {
    cursor: pointer;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 120px;
}

@media (min-width: 992px) {
    .dropdown-menu {
      margin-top: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* STYLES USED IN THE GUIDES */
#guide {
    color: #3A3A3A;
    font-family: sans-serif;
}

#guide a:not(.navbar-brand) {
    color: #6A9FB4;
}

#guide a:hover:not(.navbar-brand) {
    color: #427A91;
    text-decoration: none;
}

#guide blockquote {
  margin-top: 5px;
  margin-left: 1.5em;
  margin-right: auto;
  padding-left: 1em;
  border-left: 5px solid #393939;
}
#guide blockquote:before {
  display: none;
}
#guide blockquote:not(:first-of-type) {
  margin-top: .5em;
}

#guide .navbar-brand {
    color: black;
}

#guide blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #232323;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}

#guide .nav-link {
  display: all;
  padding: 0.1rem 0.5rem;
}

.text-info {
    color: #1B4D56;
    font-weight: bold;
}

/* STYLES USED IN LIBRARY(IES) */
#library-header p {
    margin-bottom: 0;
}

#side-menu {
  background: #333333;
  min-height: 100%;
}

#side-menu a {
  color: #EEEEEE;
}

#resources .active {
  font-weight: bold;
}

.tab-pane h3 {
  font-size: 48px;
  text-align: center;
}

.table td {
  font-size: 16px;
}

.table td a {
  color: #6A9FB4;
}

.table td a:hover {
  color: #427A91;
  text-decoration: none;
}
