/* LIGHT.CSS - THE LIGHT STYLESHEET OF THE REPO */
/*MAIN STYLES */

/* latin-ext */
@font-face {
  font-family: 'Victor Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/victormono/v1/Yq6H-LGQWyfv-LGy7lEO09xRn-T81AVB_tCyO879jdaPZ0Y.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Victor Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/victormono/v1/Yq6H-LGQWyfv-LGy7lEO09xRn-T81AVB_tCyO879g9aP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
  height: 100%;
}

body {
    background-image: url('../background/meido-light.png'), url('../background/bg-light.png');
    background-repeat: no-repeat, repeat;
    background-position: center, top right;
    background-size: contain, auto;
    background-attachment: fixed, scroll;
    font-family: 'Space Mono', arial;
    color: black;
}

.min-100 {
    min-height: 100%;
}

a {
    color: #0047b3;
    outline: 0;
}
a:hover {
    color: #005ce6;
    text-decoration: none;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #ECECEC, #ccc, #333);
}
hr:after {
    content: "中";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: none;
    color: red;
}

.spoiler {
  background-color: black;
  color: black;
}
.spoiler:hover {
  color: white;
  cursor: pointer;
}

#main {
    background: rgba(255, 255, 255, 0.5);
    background-size: contain;
}

#main h1, #main h5 {
    font-family: 'Victor Mono', sans-serif;
    text-align: center;
}

#main h1 {
    font-size: 72px;
    padding: 10px;
}

#main h5 {
    font-size: 12px;
}

#main-menu .accordion-button {
    background-color: transparent !important;
    color: #3F3F3F;
    display: block;
    font-size: 36px;
    transition: 0.5s;
}

#main-menu .accordion-item {
    background-color: transparent !important;
    border: none !important;
}

#main-menu .accordion-bg {
    background-color: transparent !important;
}

#main-menu .accordion-button::after {
  background-image: initial;
}

#main-menu .accordion-button:not(.collapsed)::after {
  background-image: initial;
}

#main-menu .accordion-button:not(.collapsed) {
    color: #2E2E2E;
    background-color: rgb(0, 0, 0, 0.1) !important;
    text-shadow: 0 0 4px #a5f1f1, 0 0 8px rgba(165,241,241,1), 0 0 16px #fc60fc !important;
    transition: 0.5s;
}

#main-menu button.accordion-button a {
    text-decoration: none;
    color: #2E2E2E;
}

#main-menu .accordion-button:focus {
  box-shadow: none;
}

#main-menu .accordion-button:not(.collapsed) {
  color: none;
}

#main-menu .accordion-button:focus {
    box-shadow: none;
    border-color: none;
}

#main-menu .accordion-button:hover  {
    background-color: rgb(0, 0, 0, 0.1) !important;
    color: #303030;
    text-shadow: 0 0 4px #a5f1f1, 0 0 8px rgba(165,241,241,1), 0 0 16px #fc60fc !important;
}

#main-menu .accordion-button:not(:focus) {
    box-shadow: none;
    border-color: none;
}

#main-menu .list-unstyled, #main-menu .list-unstyled li #main-menu .list-unstyled ul li {
    color: black;
}

#main-menu .list-group li a, #main-menu .list-unstyled li a {
    color: #4A4949;
    text-decoration: none;
    transition: 0.5s;
}

#main-menu .list-group li a:hover, #main-menu .list-unstyled li a:hover {
    color: #1D1D1D;
    text-decoration: none;
}

#main-menu .repo-news {
    height: 500px;
}

#main-menu .repo-news a {
    color: #202020;
    text-decoration: none;
}

#main-menu .repo-news span {
    color: #323232;
}

#main-menu .repo-news dd {
    color: #4C4C4C;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

a#ThemeSwitch {
    color: #272626;
    font-weight: bold;
    text-decoration: none;
}


/* STYLES USED IN THE GUIDES */
#guide {
    color: #3A3A3A;
    font-family: sans-serif;
}

#guide a:not(.navbar-brand) {
    color: #6A9FB4;
}

#guide a:hover:not(.navbar-brand) {
    color: #427A91;
    text-decoration: none;
}

#guide blockquote {
  margin-top: 5px;
  margin-left: 1.5em;
  margin-right: auto;
  padding-left: 1em;
  border-left: 5px solid #393939;
}
#guide blockquote:before {
  display: none;
}
#guide blockquote:not(:first-of-type) {
  margin-top: .5em;
}

#guide .navbar-brand {
    color: black;
}

#guide blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #232323;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}

#guide .nav-link {
  display: all;
  padding: 0.1rem 0.5rem;
}

.text-info {
    color: #1B4D56;
    font-weight: bold;
}

/* STYLES USED IN LIBRARY(IES) */
#side-menu {
  background: #333333;
  min-height: 100%;
}

#side-menu a {
  color: #EEEEEE;
}

.table td a {
  color: #6A9FB4;
}

.table td a:hover {
  color: #427A91;
  text-decoration: none;
}

.table tbody tr th, .table tbody tr td {
    background: rgb(255, 255, 255, .75);
}

/* STYLES USEDI N GALLERY(ES) */
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
