body {
	background-color: #EDDAD2;
}

* {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

input, textarea {
  background-color: #E6CBC0;
  border: 1px solid #CA927B;
}

a {
  background:inherit;
  color:#34345C;
}
a:visited {
  background:inherit;
  color:#34345C;
}
a:hover {
  color:#DD0000;
  background:inherit;
}

.form {
	background-color: #D9AF9E;
	border-color: #CA927B;
}

.form.floating .drag {
	border-bottom-color: #CA927B;
}

.row .error {
	color: red;
}

.header .name {
	color: #117743;
	font-weight: bold;
}

.header .title {
	color: #AF0A0F;
	font-weight: bold;
}

.header .numbers {
}

.banner .start span {
	color: #323151;
}

.banner .start span:hover {
	color: black;
}

.divider {
	border-bottom-color: #CA927B;
}

.divider.limit {
	border-color: red;
}

.post .arrows {
	color: #e0bfb7;
}

.post .content {
	background-color: #D9AF9E;
	border-bottom-color: #CA927B;
	border-right-color: #CA927B;
}

.body .greentext {
	color: #789922;
}

.post .content .body .reference {
	color: #00e;
	text-decoration: underline;
}

.menu .options {
	background-color: #D9AF9E;
}

.menu .options>* {
	border-bottom-color: #CA927B;
}

.banned {
	color: red;
}

.banner .title {
	color: #a10000;
}

.control .button {
	color: blue;
}

.control .notification {
	color: red;
}
