/* Default Colors for stuff - Use for future themes. I doubt anyone is retarded enough to
ask for a DAY MODE. */
/* Oh no.... */

:root{
    --bgpaper: url(background/bgdark.png);
    --font-color: #d9d9d9;
    --link-color: #8dcfea;
    --acc-color: #485058;
    --acc-color-darker: #35393d;
    --navlink-color: #d9d9d9;
    --accsel-color: #729eac;
    --header-img: url(headers/angrymaid.jpg);
    --bg-repeat: no-repeat;
	/*--bg-attach: fixed;*/
    --bg-zize: cover;
    --head-shado: #202020;
    --headl-color: #e48383;
}

[data-theme="dark"] {
    --bgpaper: url(background/bglight.png);
    --font-color: #424242;
    --link-color: #0072AB;
    --acc-color: #333333;
    --acc-color-darker: #242424;
    --navlink-color: #d9d9d9;
    --accsel-color: #6d6d6d;
    --header-img: url(headers/hatback.jpg);
    --bg-repeat: no-repeat;
	/* --bg-attach: fixed; */
    --bg-zize: cover;
    --head-color: #3a3a3a;
    --head-shado: #ffffff;

}











/* I don't know what these do but they /do/ something */
@import "compass/css3";
* {
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: var(--bgpaper);
    color: var(--font-color);
    line-height: 1.2;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0%;


}


a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	text-align: right;
}


/* 2 Columns for the Index */
.column {
    float: left;
    padding: 10px;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* For the Updates List */
#flower {
	height: 250px;
	overflow: scroll;
	overflow-x: hidden;
    width: 100%;
    padding-left: 20px;
    text-align: left;
}
#flower ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
}
#flower li {
    margin: 5px;
    padding-bottom: 5px;

}
#flower li:before {
	content: '>';
	margin-left: -20px;
	margin-right: 10px;
	color: #78BD42;
	font-weight: bolder;
}


/* Collapsible div and some other stuff I'll probably forget later on*/
.ac-label {
    font-weight: 700;
    font-size: larger;
    position: relative;
    padding: .5em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: var(--acc-color);
    text-align: center;
    transition: background-color .15s ease-in-out;
    color: var(--navlink-color);
}
.ac-input:checked + label, .ac-label:hover {
    background-color: var(--accsel-color);
}
.ac-label:after, .ac-input:checked + .ac-label:after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    border-width: thin;
    transition: background-color .15s ease-in-out;

}

.ac-input:checked + .ac-label:after {
    content: "-";
}
.ac-input {
    display: none;
}
.ac-text, .ac-sub-text {
    font-size: large;
    opacity: 0;
    height: 0;
    margin-bottom: .5em;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}
.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
    opacity: 1;
    height: auto;
}
.ac-sub .ac-label {
    background: none;
    font-weight: 600;
    padding: .5em 2em;
    margin-bottom: 0;
}
.ac-sub .ac-label:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
}
.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
    left: 0;
    background: none;
}
  .ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
    background: none;
}
.ac-sub-text {
    padding: 0 1em 0 2em;
}
.nolink a, .nolink a:hover {
    position: relative;
    text-align: center;
    padding: inherit;
    text-decoration: inherit;
    color:inherit
}
.ac-linker {
    font-weight: 700;
    font-size: larger;
    position: relative;
    padding: 1em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: var(--acc-color);
    transition: background-color .15s ease-in-out;
    color: var(--navlink-color);
}
.ac-linker:hover {
    background-color: var(--accsel-color);
}

.ac-linker button.active {
    background-color: #ccc;
  }

.ac-linker:after {

    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    border-width: thin;
    transition: background-color .15s ease-in-out;

}



/* navlinks */
/* Style the tab */
.tab {
    overflow: hidden;
  }

.tab a{
    text-decoration: none;
}

  /* Style the buttons inside the tab */
  .tab button {
      width: 100%;
    font-weight: 700;
    font-size: larger;
    position: relative;
    padding: 1em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: var(--acc-color);
    border: none;
    color: var(--navlink-color);
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--accsel-color);
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--accsel-color);
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }

  .tabcontent a{
    color: var(--navlink-color);
  }




/* Misc. Stuff, I dunno where to put them so here they are */
#left-text {
    text-align: left;
}


/* Quick Links */
#modtablein {
	width: 100%;
    text-align: left;
    table-layout: fixed;

}
#modtablein td{
    width: 50% ;

}


#lortable {
    text-align: left;
    padding-left: 5px;
    border-left: 5px solid var(--accsel-color);
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.6;
}


ul{
    list-style-type: disc;
    padding-left: 30px;
}
li{
    padding-bottom: 5px;
}


/* Where to Play? Tabs */
.rtab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
}
/* Style the buttons inside the tab */
.rtab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 33%;
}
/* Create an active/current tablink class */
.rtab button.active {
    background-color: var(--accsel-color);
}
/* Style the tab content */
.rtabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
}



#anntablein {
	border-collapse: collapse;


    margin: 0 auto;
}

#anntablein td, #anntablein th {
	width: 33% ;
	vertical-align: top;
	border: 1px solid #ababab00;
	padding: 8px;
	text-align: center;
}
#anntablein th {
	text-align: center;
}

/* for the overflow scrollable banners */
.autoscroll {
	overflow: auto;
	height: 250px;
    border-bottom: thin solid #949494;
    text-align: center;
  }



  #navbar{
    table-layout: fixed ;
    width: 100% ;
    background-color: var(--acc-color-darker);

  }
  #navbar td{
    width: 25% ;
    vertical-align: top;
  }

  #lordiv{
      display: none;
      text-align: center;
  }
  #ocdiv{
    display: none;
    text-align: center;
}

#cont{
    width: 800px;
    margin: 0 auto;
}


header {
    padding-top: 10px;
    width: 100%;
    margin-right: 0%;
    margin-left: 0;
    background-image: var(--header-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
	color: var(--head-color);
}


.shado{
	text-shadow: 2px 2px var(--head-shado);
}

img.sticky {
	cursor: pointer;
    position: fixed;
right: 0px;
bottom: 0px;
    width: 120px;
  }


  /* Spoiler */
  .spoiler, .spoiler2, .spoiler a, .spoiler2 a{ 
    color: black; 
    background-color: black;
  }
  
  .spoiler:hover, .spoiler:hover a {
    color: white;
  }
  
  .spoiler2:hover, .spoiler2:hover a { 
   background-color:white; 
  }

  /* Centerrerer */

  .centerdiv {
    margin: auto;
    width: 60%;
    padding: 80px;
  }
