/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {

}


/* Simple Button styles*/
button {
	width: 300px;
	background-image: url(../img/ui/button.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;


}

/* Simple Button Style on Hover */
button:hover {
	background-image: url(../img/ui/button-sel.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

/* General Styling for Menu Screens */
[data-menu] {
	color: #cfcfcf;
	text-shadow: 2px 2px #202020;

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-menu="main"] {

}

/* Main Menu Buttons Styling */
[data-menu="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-ui="slots"] figure {

}

/* Slot's Image Style */
[data-ui="slots"] img {

}

/* Slots Title Style */
[data-ui="slots"] figcaption {

}

/* Slots Delete Button Style */
[data-ui="slots"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-ui="choices"] button {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.753);

}

/* Choice Button Style on Hover */
[data-ui="choices"] button:hover {

}

/* Text Box styling */
[data-ui="text"] {
	background-image: url(../img/ui/textbox.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

/* Character Name Style */
[data-ui="who"] {

}

/* Style for Centered Text */
[data-ui="centered"] {
	color: #fff;
	text-shadow: 2px 2px #202020;

}

/* Character Images Styles */
#game [data-character] {

}

/* Other Images Styles */
#game [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-ui="quick-menu"] {

}

/* Quick Menu Buttons Style */
[data-ui="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-ui="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-ui="quick-menu"] > span > .fa {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-ui="quick-menu"] {
		background-color: #1c2946;

	}

	/* Quick Menu Buttons Style */
	[data-ui="quick-menu"] span {
		background-color: #1c2946;
	}

	/* Quick Menu Buttons Style on Hover */
	[data-ui="quick-menu"] span:hover {
		background-color: #1c2946;
	}
}