:root{
    --bgpaper: url(../background/bgdark.png);
    --font-color: #d9d9d9;
    --link-color: #8dcfea;
    --acc-color: #485058;
    --acc-color-darker: #35393d;
    --navlink-color: #d9d9d9;
    --accsel-color: #729eac;
    --tab-color: #485058;
  }
  
  [data-theme="dark"] {
    --bgpaper: url(../background/dust_scratches.png);
    --font-color: #424242;
    --link-color: #0072AB;
    --acc-color: #333333;
    --acc-color-darker: #d8d8d8;
    --navlink-color: #d9d9d9;
    --accsel-color: #6d6d6d;
    --tab-color: #bfe7bb;
  }



/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
}

a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: var(--font-color);
}
blockquote blockquote {
    padding-right: 0;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
    color: var(--acc-color);
    font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
    padding-left: 0;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: var(--accsel-color);
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #666;
}

/** Poor man's reset **/
* {
    box-sizing: border-box;
}


body{
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: var(--bgpaper);
    color: var(--font-color);
    line-height: 1.2;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-left: 1rem;
}

h1 {
    font-weight: 300;
}

/** page layout **/
main {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1 {
	padding-bottom: .3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom-style: none;

}


#myInput {

    width: 90%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 90%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    line-height: 1.6;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: var(--acc-color);
  }